<div class="page-header">
    <h1>User Registration</h1>
</div>

<form>
    <label>Email:</label>
    <input class="form-control" type="email" name="email" placeholder="Please Enter ur Email" >
    <br>
    <label>Username</label>
    <input class="form-control" type="text" name="username" placeholder="Please Enter ur Username">
    <br>
    <label>Password</label>
    <input class="form-control" type="password" name="password" placeholder="Please Enter ur Password">
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>